<div class="flex items-center mx-auto">
    <div class="flex-1 min-w-0">
        <p class="text-sm font-semibold text-gray-900 truncate dark:text-white">
            {{agent.name}}
        </p>
        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
            @if (agent.last_fetched_at.Valid) {
            zuletzt aktualisiert: {{agent.last_fetched_at.Time | date:"dd. MMM HH:mm":"de-DE"}}
            } @else {
            zuletzt aktualisiert: -
            }
        </p>
    </div>
    @if (agent.thumbnail_url) {
    <div class="relative">
        <div class="w-8 h-10 p-0.5 rounded ring-2 ring-gray-300 dark:ring-gray-500">
            <img class="w-full h-full rounded object-cover"
                [src]="agent.thumbnail_url"
                alt="image description">
        </div>
        <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-blue-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">2</div>
    </div>
    }
</div>