<div class="h-full rounded-2xl overflow-hidden" (click)="onClick($event)">
    <figure class="slide w-full h-full relative">
        <img class="object-cover h-full w-full" [src]="ad().images[imageIndex].image_url" alt="person 1">
    </figure>
</div>
<div class="absolute top-0 right-0 p-5 text-white">
    {{imageIndex + 1}}/{{ad().images.length}}
</div>
<div class="absolute bottom-0 p-5">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white" [innerHTML]="ad().title">,
        </h5>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{{ad().price}}</h5>
    </a>
    <p class="mb-3 font-normal text-white" [innerHTML]="ad().description"></p>
    <a [href]="ad().url" target="_blank" class="font-medium text-blue-500 dark:text-blue-500 hover:underline">Link</a>
</div>